body{
  background-color:pink;
  font-family: Arial, Helvetica;
  margin:5%;
}
h1{
  color: blue;
  font-size: 30px;
  
}
h2{
  color: blue;
}
h3{
  color:grey;
}
.me{
  background-color:yellow;
}
.career{
  background-color:yellow;
}

.study{
  background-color:yellow;
}
.skill{
  background-color:yellow;
}
.lead{
  background-color:yellow;
  
}
